@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.Blog-Banner-Image {
  height: 550px;
  background-position: center;
  background-size: 100%;
}

.blog_card-banner_title {
  width: 500px;
  height: 540px;
  border-radius: 10px;
  margin-left: 130px;
  box-shadow: 1px 5px 10px rgb(202, 200, 200);
}
.blog_card_banner_title_heading {
  font-size: 14px !important;
  color: #0b3f64;
}

.blog_eligibility_block {
  height: 80px;
  background-color: #0b3f64;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.blog_eligibility_title {
  color: #f1c21b;
}
.blog_eligibility_subtitle {
  color: #ffff;
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .Blog-Banner-Image {
    height: 300px;
    margin-left: 20px;
  }
  .blog_card-banner_title {
    margin-left: 10px;
    width: 450px;
    height: 440px;
    margin-top: 20px;
  }
}
