@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.Blog-Banner-Image {
  height: 500px;
  background-position: center;
  background-size: 100%;
}

.blog_card-banner_title {
  margin-top: 50px;
  /* width: 500px; */
  border-radius: 10px;
  /* margin-left: 130px; */
  box-shadow: 1px 5px 10px rgb(202, 200, 200);
}
.blog_card_banner_title_heading {
  font-size: 14px !important;
  color: #0b3f64;
}

.blog_eligibility_block {
  height: 80px;
  width: 495px;
  margin-left: -5px;
  background-color: #0b3f64;
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}
.blog_eligibility_title {
  color: #f1c21b;
}
.blog_eligibility_subtitle {
  color: #ffff;
}
.universities_banner_image {
  height: 500px;
  background-size: contain;
  background-position: center;
}
.universities_card_title {
  color: #0b3f64;
}
.universities_card_course_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .Blog-Banner-Image {
    height: 300px;
    margin-left: 20px;
  }
  .blog_card-banner_title {
    margin-left: 10px;
    width: 450px;
    margin-top: 20px;
  }
  .blog_eligibility_block {
    height: 80px;
    width: 446px;
    margin-left: -15px;
    background-color: #0b3f64;
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
  }
  .homepage_cards {
    margin-left: 100px !important;
  }
}
